

@{
    ViewData["Title"] = "Trang Chủ";
}

    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                   <img style="height:100%; width:100%"  src="~/assets/img/22.jpg" />
                </div>
            </div>
        </div>
      
    </div>